.modal {
    z-index: 1000;
}
.modal-backdrop {
    z-index: 999;
}
.navbar-static-top {
    z-index: 997;
}
.modal .modal-wide .modal-dialog {
    width: 90%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}
label>span.required{
    color: red;
}