.panel-default>.panel-heading>.panel-buttons{
	float: right;
}
.panel-default>.panel-heading>.panel-buttons>button{
	margin-top: -6px;
}
.btn-circle.btn-vsmall {
    width: 20px;
    height: 20px;
    padding: 0px 3px;
    border-radius: 25px;
    font-size: 13px;
    line-height: 1.33;
}